* {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*-------------nav----------------------------------------*/
.logo {
  height: 70px;
  width: 75px;
}

/*-------------main index---------------------------------*/
.main_banner {
  /*display: flex;*/
  /*align-items: center;*/
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./baner.jpg);
  background-size: cover;
  background-position: center;
  /*width: 100vh;*/
  height: 50vh;
  justify-content: center;
}

.main-banner_texto {
  align-items: center;
  justify-content: center;
  color: azure;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 20px;
}

@media (max-width: 425px) {
  .main-banner_texto {
    font-size: 15px;
  }
}
.presentacion_index {
  margin-top: 40px;
}

@media (min-width: 768px) {
  .presentacion_index {
    display: flex;
  }
}
.carrusel {
  margin: auto;
}

/*-------------main alquilar----------------------------------------*/
.presentacion_alquilar {
  margin: 15px;
}

@media (max-width: 1024px) {
  .presentacion_alquilar {
    margin: 0;
  }
}
.container {
  /*border: 2px solid red;*/
}

.cartas {
  margin: auto;
}

.tarjeta-alquilar {
  margin-top: 20px;
  margin-bottom: 20px;
}

.cartas img {
  height: 285px;
  width: 334px;
}

@media (max-width: 320px) {
  .presentacion_alquilar {
    text-align: center;
  }
}
@media (max-width: 375px) {
  .cartas img {
    height: 200px;
    width: 286px;
  }
}
@media (max-width: 320px) {
  .cartas img {
    height: 200px;
    width: 255px;
  }
}
/*-------------main comprar----------------------------------------*/
.presentacion_comprar {
  margin: 15px;
}

.presentacion-comprar_texto {
  /*border: 2px solid red;*/
}

.contenedor-compra {
  /*border: 2px solid red;*/
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
  width: 900px;
  height: 250px;
  display: flex;
}

@media (max-width: 1024px) {
  .contenedor-compra {
    width: 480px;
    height: 250px;
  }
}
@media (max-width: 768px) {
  .contenedor-compra {
    display: inline;
    width: 1px;
    height: 1px;
  }
}
.contenedor-casacompraimg {
  /* border: 2px solid red;*/
  width: 700px;
  height: 250px;
}

@media (max-width: 768px) {
  .contenedor-casacompraimg {
    width: 600px;
  }
}
@media (max-width: 425px) {
  .contenedor-casacompraimg {
    width: 270px;
    height: 170px;
    margin: 15px;
  }
}
.contenedor-casacompradesc {
  width: 600px;
  height: 300px;
}

@media (max-width: 768px) {
  .contenedor-casacompradesc {
    width: 500px;
    height: 220px;
  }
}
.contenedor-casacompraimg img {
  width: 550px;
  height: 250px;
}

@media (max-width: 1024px) {
  .contenedor-casacompraimg img {
    width: 480px;
  }
}
@media (max-width: 425px) {
  .contenedor-casacompraimg img {
    width: 270px;
    height: 170px;
  }
}
/*-------------main proyectos--------------------------------------*/
.presentacion_proyectos {
  margin: 15px;
  text-align: center;
}

.presentacion-proyecos_descripcion {
  margin-top: 30px;
  margin-bottom: 100px;
}

/*-------------main vender----------------------------------------*/
.presentacion-vender_h1 {
  margin: 15px;
}

.presentacion-vender_texto {
  margin: 15px;
}

.vender_recomendacion {
  margin: 15px;
}

@media (max-width: 425px) {
  .vender_recomendacion {
    margin-bottom: 100px;
  }
}
.formulario {
  width: 500px;
  height: 800px;
  border: 2px solid gray;
  border-radius: 15px;
  margin-left: 50px;
  padding: 50px;
  background-color: rgba(0, 0, 0, 0.014);
}

@media (max-width: 425px) {
  .formulario {
    width: 300px;
    height: 750px;
    margin-left: 10px;
    padding: 15px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
}
/*------------footer----------------------------------------------*/
.footer {
  border: 1px;
  /*border-radius: 20px;*/
  margin-top: 100px;
}

.footer_ul li img {
  width: 30px;
  height: 30px;
  margin: 4PX;
}

/*# sourceMappingURL=style.css.map */
