
.main_banner{
    
    /*display: flex;*/
    /*align-items: center;*/
    background: linear-gradient(to top, rgb(0 0 0 / .5), rgb(0 0 0 / .5)) ,url(./baner.jpg) ;
    background-size: cover;
    background-position: center;
    /*width: 100vh;*/
    height: 50vh;
    justify-content: center;
}

.main-banner_texto{
    align-items: center;
    justify-content: center;
    color: azure;
    margin-left: 40px;
    margin-right: 40px;
    /*font-size: 25px;*/
}


.presentacion_index{
    margin-top: 40px;
   
}

@media(min-width:768px){
    .presentacion_index{
        display:flex;
}
}

.carrusel{
    margin: auto; 
}