*{
    margin: 0;
    padding: 0;
    list-style: none;
}

/*-------------nav----------------------------------------*/

.logo{
    height: 70px;
    width: 75px;
}

/*-------------main index---------------------------------*/

@import "main-index";

/*-------------main alquilar----------------------------------------*/
@import "main-alquilar";

/*-------------main comprar----------------------------------------*/
@import "main-comprar";

/*-------------main proyectos--------------------------------------*/
@import "main-proyectos";


/*-------------main vender----------------------------------------*/
@import "main-vender";

/*------------footer----------------------------------------------*/
@import "footer";